.DS_Store
osm-data/*.osm
osm-data/*.bz2
osm-data/*.pbf
conf/*.conf
osm-data-cache/
osm-data-tmp/
mkgmap/splitter*
mkgmap/mkgmap.*
mkgmap/mkgmap-*
osm-map-std/
osm-map-outdoor/build/
osm-map-outdoor/dist/
osm-map-outdoor/options.args.*
tmp/
