# enable pbf file format (also requires pbf support in mkgmap and splitter)
ENABLEPBF="NO"

# memory
UMEM=2048

# path where this script is placed
OSMGARMINDIR="/Users/foobar/osm-garmin"

# splitter binary
SPLITTERBIN="$OSMGARMINDIR/mkgmap/splitter-svn/dist/splitter.jar"

# mkgmap binary
MKGMAPBIN="$OSMGARMINDIR/mkgmap/mkgmap-svn/dist/mkgmap.jar"

# remote ssh server
REMOTEUSER="user"
REMOTEHOST="host"
REMOTEDIR="/home/user/garmin/"
