# memory
UMEM=2048

# path where this script is placed
OSMGARMINDIR="/home/user/osm-garmin"

# splitter binary
SPLITTERBIN="$OSMGARMINDIR/mkgmap/splitter.jar"

# mkgmap binary
MKGMAPBIN="$OSMGARMINDIR/mkgmap/mkgmap.jar"

# remote ssh server
REMOTEUSER="user"
REMOTEHOST="host"
REMOTEDIR="/home/user/garmin/"
